body    {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}
.header {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
}
.header--container  {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-logo    {
    background: url(../design/logo.svg) no-repeat;
    display: inline-block;
    width: 160px;
    height: 39px;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__item {
    padding: 10px;
    
}
.menu__item--design {
    text-decoration: none;
    font-size: 15px;
    color: #FF8A00;
}
.menu__item::after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 22px;
    height: 3px;
    border-radius: 3px;
}
.menu__item:hover::after,
.menu__item:active::after,
.menu__item--active::after  {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
}
.menu__btn  {
    display: inline-block;
    
    width: 160px;
    height: 56px;
    border-radius: 100px;
}
.menu__btn--design  {
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    margin-top: -10px;
    font-size: 14px;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: #fff;
}
.menu__btn--position   {
    padding-top: 8px;
}
@media screen and (min-width: 900px)   {
    .header {
        padding-top: 20px;
    }
    .header--container{
        display: flex;
        justify-content: space-between;
    }
    .menu__btn  {
        margin-left: 10px;
    }
}
.promo  {
    background: linear-gradient(228.4deg, #FFC000 1.55%, #FF8A00 95.8%);
    padding: 109px 0;
    position: relative;
}
.promo--container   {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 15px;
}
.promo__heading {
    overflow: hidden;
    font-size: 44px;
    color: white;
    margin: 0 auto;
    line-height: 158.34%
}
.promo__txt {
    font-size: 18px;
    color: white;
    line-height: 33px;
}
.promo__icons   {
    background: url(../design/icons-promo.png) no-repeat;
    display: inline-block;
    width: 461px;
    height: 299px;
    position: absolute;
    top: 0;
    right: 10%;
}
.grid   {
    overflow: hidden;
    max-width: 100%;
    margin: 47px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 9px;
}
.grid__item {
    overflow: hidden;
    height: 279px;
    position: relative;
    border-radius: 10px 10px;
}
.grid__txt  {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    line-height: 152.34%;
    color: white;
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.8%);
}
.grid__txt--short   {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 33px;
    border-radius: 0 10px 0 10px;
}
.grid__txt--long    {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 70px; */
    height: 73px;
}
.page {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.page__txt  {
    overflow: hidden;
    padding: 73px 5px 0 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #2F2F2F;
}
.page__icon-list    {
    margin-top: 70px;
    background: url(../design/icon-list-white.svg) no-repeat;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.page__icon-list:hover  {
    background: url(../design/icon-list-gray.svg);
}
.page__icon-grid    {
    background: url(../design/icon-grid-white.svg) no-repeat;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: right;
}
.page__icon-grid:hover  {
    background: url(../design/icon-grid-gray.svg);
}
.content    {
    position: relative;
}
@media screen and (min-width: 600px){
    .grid   {
        grid-template-columns: repeat(2, 1fr);
    }
  
}
@media screen and (min-width: 700px)    {
    .grid   {
        max-width: 75%;
    }
    .page   {
        max-width: 75%;
    }
}
@media screen and (min-width: 900px)    {
    .grid   {
        grid-template-columns: repeat(3, 32%);
    }
}
.courses    {
    display: flex;
    flex-direction: column;
}
.courses__txt   {
    text-decoration: none;
    color: #5C5C5C;
    line-height: 105.47%;
    margin-top: 22px;
}
.courses__txt--font-big {
    font-size: 18px;
}
.courses__txt--font-small   {
    font-size: 14px;
}
.paid   {
    margin-top: 28px;
    text-decoration: none;
    text-align: center;
    min-width: 43px;
    height: 42px;
    display: inline-block;
    font-size: 11px;
    color: #5C5C5C;
    border: 1px solid #5C5C5C;
    border-radius: 23px;
}
.paid:hover {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
    border: none;
}
.courses__btn   {
    text-align: center;
    margin: 34px 0;
    display: inline-block;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    text-decoration: none;
    font-size: 14px;
    color: #FFFEFC;
    width: 160px;
    height: 56px;
    border-radius: 100px;
}
.oval   {
    padding: 0 35px;
}
@media screen and (min-width: 700px) {
    .courses    {
        position: absolute;
        top: 45px;
        right: 0;
    }
}
@media screen and (min-width: 900px)    {
    .courses    {
        position: absolute;
        top: 45px;
        right: 10%;
    }
}
.footer {
    background: #212121;
    padding: 46px 0;
    margin-top: 102px;
}
.txt-footer {
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
.end    {
    padding-top: 100px;
}
.basement   {
    background: #000000;
    padding: 13px 0;
}